# macOS
.DS_Store

# VS Code
.vscode/

# .NET / C#
bin/
obj/
*.user
*.suo
.vs/

# Tests / cobertura (si aplica)
TestResult*/ 
coverage*/ 
*.coverage
*.trx

# Lo que NO quieres subir según tu pedido
2025*.txt
manuscrito.md
manuscrito_capitulos.md

# Ignore execution parameters configs and ep*.config
# - any .config file containing 'executionparameters' in its name
*executionparameters*.config
# - any .config file starting with 'ep'
ep*.config
configurar_entorno.sh
executionparameters.config
executionparameters.json
variables.txt

back/
ultimo-log.txt
